  body { background: white none repeat scroll 0%;
    color: black;
    }

  body { margin-left: 6%;
    margin-right: 6%;
    }

  pre { color: green;
    font-weight: bold;
    white-space: pre;
    font-family: monospace;
    }

  h1, h2, h3, h4, h5, p, ul { font-family: sans-serif;
    }

  tt { color: green;
    }

  em { font-style: italic;
    font-weight: bold;
    }

  strong { font-weight: bold;
    }

  address { margin-top: 1em;
    font-family: sans-serif;
    font-size: 80%;
    }

  img { border-width: 0px;
    }

  img.xhtml { float: right;
    }

  table { border-color: white;
    border-width: 2px;
    background: white none repeat scroll 0%;
    font-family: sans-serif;
    width: 100%;
    }

  th.top { padding: 0.5em;
    background: rgb(0, 0, 85) none repeat scroll 0%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    }

  th { padding: 0.25em;
    background: rgb(0, 51, 153) none repeat scroll 0%;
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    }

  th.half { width: 50%;
    }

  td { padding: 0.25em;
    background: rgb(202, 225, 255) none repeat scroll 0%;
    font-family: sans-serif;
    font-size: 80%;
    }

  p { margin-top: 1ex;
    margin-bottom: 1.2ex;
    }

  ul { margin-top: 1ex;
    margin-bottom: 1.2ex;
    }

  td.witseie { background: rgb(255, 255, 255) none repeat scroll 0%;
    }

  p.eie { background: rgb(255, 255, 255) none repeat scroll 0%;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(0, 0, 255);
    font-size: 200%;
    font-family: serif;
    }

  p.wits { background: rgb(255, 255, 255) none repeat scroll 0%;
    margin-top: 0em;
    margin-bottom: 0em;
    color: rgb(0, 0, 0);
    font-size: 160%;
    font-family: sans-serif;
    }

  td.sideheader { font-weight: bold;
    font-size: medium;
    text-align: center;
    }

 div.w3cbutton1 {
  position: relative;
  margin: 1em 0;
  font-family: helvetica,arial,sans-serif;
  font-size: 70%;
  font-weight: bold;
}
div.w3cbutton1 a {
  display: block;
  border-top: 1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
}
div.w3cbutton1 a.w3c1 {
  width: 3em;
  border-left: 1px solid #cecece;
  text-align: center;
}
div.w3cbutton1 a.spec1 {
  position: absolute;
  left: 3em;
  top: 0;
  width: 6em;
  border-right: 2px solid #4a4a4a;
  padding-left: 0.5em;
}
div.w3cbutton1 a.w3c1:link,
div.w3cbutton1 a.w3c1:visited,
div.w3cbutton1 a.w3c1:hover {
  background-color: #fff;
  color: #0c479d;
  text-decoration: none;
}
div.w3cbutton1 a.spec1:link,
div.w3cbutton1 a.spec1:visited,
div.w3cbutton1 a.spec1:hover {
  background-color: #fc6;
  color: #000;
  text-decoration: none;
}